.App {
  width: 80%;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: row;
}
.product-images {
  width: 50%;
}

.content {
  width: 50%;
  margin-left: auto;
}

@media screen and (max-width: 375px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
