.product-small-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}
.display-image {
  width: 500px;
}
.display-product-image {
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.product-image {
  width: 100px;
  border-radius: 10px;
}
.product-images {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
